<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<!-- Bootstrap CSS -->
   		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

		<title>Welcome page</title>
	</head>
<body>
	<div class="container" align="center">
	   <h1> WELCOME TO THE SCHOOL SYSTEM</h1>
	   <h2> THIS IS INDEX PAGE</h2>
	   
        <form class="form-group" th:action="@{/logout}" method="post">
            <input class="btn btn-info col-2" type="submit" value="Logout"/>
        </form>
	</div>
</body>
</html>
