<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	
	<div align="center">
	
		<p th:name = "student" th:id th:value = "${student.id}" th:text="'Welcome '  + ${student.firstName} + '  ' + ${student.lastName}"></p>
		<h4> Register For A Course </h4>
		<div>
			<form th:action="@{/studentCourseRegistration}" th:object="${selectedCourses}" th:method="post">
				<select th:field="*{id}" name = "id" id="id">
					<option value="0">select course</option>
					<option th:each="course : ${courses}"
							th:value="${course.id}"
							th:text="${course.code} + ' : ' + ${course.name}">
					</option>
				</select>
				<input th:hidden="true" th:name="student_id" th:value="${student.id}"/>
				<input type="submit" value="Register" />
			</form>
		</div>
		<div align="center">
		<h4> Registered Courses </h4>
		<table>
			<th:block  th:each="courses : ${registeredCourses}">
				<tr>
			         <td th:text="${courses.code} + '  ' + ${courses.name}" />
		      	</tr>
			</th:block>
		</table>
		</div>
	</div>
	
</body>

</html>