<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.com">
	<head>
	  	<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<!-- Bootstrap CSS -->
   		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

		<title>Registration Form</title>
	</head>
<body>

	<div class="container" align="center">
		<form th:action="@{/studentRegistration}" th:object="${student}" method="post">
	
		<div class="form-group">
			<label>First Name</label>
			<input  class="form-control mb-4 col-4" type="text" th:field="*{firstName}"/>
		</div>
		<div class="form-group">
			<label>Last Name</label>
			<input  class="form-control mb-4 col-4" type="text" th:field="*{lastName}"/>
		</div>
		<button class="btn btn-info col-2" type="submit">Register</button>
		
		</form>
	</div>
</body>
</html>