<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<title>Insert title here</title>
	</head>
<body>

	<div class="container" align="center">
	
		<form class="form-group" th:acion="@{/registerTeachers}" th:object="${teachers}" method="post">
		
			<div class="">
				<label class="col-4"> First Name </label>
				<input class="form-control mb-4 col-4" type="text" th:field="*{firstName}"/>
			</div>
			
			<div class="">
				<label class="col-4"> Last Name </label>
				<input class="form-control mb-4 col-4" type="text" th:field="*{lastName}"/>
			</div>
			
			<input class="btn btn-info col-2" type="submit" value="Register"/>
		</form>
	</div>
</body>
</html>